<div class="jumbotron">
	<h1 class="text-center">Welcome!</h1>
	<p class="text-center">We can upload file to <code>Box</code> through this site.</p>
</div>

<div class="row">
	<div class="col-md-6">
		<a href="/login" class="btn btn-block btn-primary">Log In</a>
	</div>
	<div class="col-md-6">
		<a href="/signup" class="btn btn-block btn-primary">Sign Up</a>
	</div>
</div>
